# compile and execution output
*.o
*.so
*.a
*.d
gmon.out
/test/.depend

# binary targets
/test/test
/src/mcchd_wl
/src/mcchd_wl_bulk
/src/mcchd_wl_point
/src/mcchd_wl_line
/src/mcchd_wl_plane

# results
/results/

# intermediate results from test runs
/src/mcchd_wl*/
